@-webkit-keyframes dot-keyframes {
    0% {
        opacity: .4;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
    }
    100% {
        opacity: .4;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
@keyframes dot-keyframes {
    0% {
        opacity: .4;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
    }
    100% {
        opacity: .4;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
.loading-dots {
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ddd;
    opacity: 0.6;
}
.loading-dots--dot {
    -webkit-animation: dot-keyframes 1.5s infinite ease-in-out;
    animation: dot-keyframes 1.5s infinite ease-in-out;
    background-color: #000;
    border-radius: 10px;
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 10% 2px;
}
.loading-dots--dot:nth-child(2) {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}
.loading-dots--dot:nth-child(3) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}